
<template>
<div class="panel panel-default" :id="id">
  <div :class="headingClasses">&larr;EnvironScene<sup>{{ id }}</sup>&rarr;</div>

  <div class="panel-body" style="padding:5px;">
    <Scene v-model="scene" id="mainScene">
      <Entity v-model="myEntity">
        <Box v-model="myBox"></Box>
      </Entity>
    </Scene>
  </div>
</div>
</template>

<script>
import Vue from 'vue';

import vb from 'vue-babylonjs';

import cameraFactory from '../static/js/factory/cameraFactory.js';
import ballFactory from '../static/js/factory/ballFactory.js';

import basketball from '../static/js/factory/basketball.js';

import factory from '../static/js/factory';

import AgentInput from '../static/js/inputs/AgentInput';

Vue.use(vb);

export default {
  name: 'tuum-environ-scene',
  mixins: [],
  props: {
    id: {
      required: true
    },
    cols: {
      required: true
    },
    w: {
      required: true
    }
  },
  data: () => {
    return {
      mainCamera: null,
      scene: {

      },
      ctx: {
        ground: null,
        groundPlane: null,
      },
      myEntity: null,
      myBox: null,
    };
  },
  watch: {
    scene() {
      const {
        MeshBuilder,
      } = vb.BABYLON;

      const fieldWidth = 8100, fieldHeight = 6000,
            courtWidth = 6100, courtHeight = 4000;

      const {
        courtFactory,
        basketFactory,
        agentFactory,
      } = basketball;

      const {
        groundFactory,
      } = factory;

      /*
      myMaterial.specularTexture = new BABYLON.Texture("PATH TO IMAGE", scene);
      myMaterial.emissiveTexture = new BABYLON.Texture("PATH TO IMAGE", scene);
      myMaterial.ambientTexture = new BABYLON.Texture("PATH TO IMAGE", scene);
      myMaterial.diffuseTexture.hasAlpha = true;
      */

      /*
      mat0.diffuseColor = new BABYLON.Color3(1, 0, 1);
      mat0.specularColor = new BABYLON.Color3(0.5, 0.6, 0.87);
      mat0.emissiveColor = new BABYLON.Color3(1, 1, 1);
      mat0.ambientColor = new BABYLON.Color3(0.23, 0.98, 0.53);
      */

      const g_Scene = this.scene;

      groundFactory(null, this.scene);

      courtFactory({}, this.scene);

      var light1 = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(1, 1, 0), g_Scene);
      var light2 = new BABYLON.PointLight("light2", new BABYLON.Vector3(0, 1, -1), g_Scene);

      agentFactory({}, this.scene);

      /* Create Team 1 (Blue) Basket */
      let basket = basketFactory({
        basketId: 0,
        basketColor: new BABYLON.Color3(0, 0, 1), /* Blue Goal */
        basketDiameter: 160,
        basketHeight: 500,
        screenWidth: 660,
        screenHeight: 800,
      }, this.scene);

      basket.translate(BABYLON.Axis.Y, 500 / 2, BABYLON.Space.WORLD);
      basket.translate(BABYLON.Axis.X, 6100 / 2 - 160, BABYLON.Space.WORLD);
      basket.rotate(BABYLON.Axis.Y, Math.PI / 2, BABYLON.Space.WORLD);

      /* Create Team 2 (Pink) Basket */
      basket = basketFactory({
        basketId: 1,
        basketColor: new BABYLON.Color3(1, 20/255.0, 147/255.0), /* Pink Goal */
        basketDiameter: 160,
        basketHeight: 500,
        screenWidth: 660,
        screenHeight: 800,
      }, this.scene);

      basket.translate(BABYLON.Axis.Y, 500 / 2, BABYLON.Space.WORLD);
      basket.translate(BABYLON.Axis.X, -(6100 / 2 - 160), BABYLON.Space.WORLD);
      basket.rotate(BABYLON.Axis.Y, -Math.PI / 2, BABYLON.Space.WORLD);

      for(let i in Array(4)) ballFactory({}, this.scene);

      g_Scene.mainCamera = cameraFactory({
        type: 'rotate',
      }, this.scene);

      g_Scene.mainCamera.attachControl(document.getElementById('mainScene'), true);

      g_Scene.mainCamera.inputs.removeByType("FreeCameraKeyboardMoveInput");
      g_Scene.mainCamera.inputs.add(new AgentInput());
      console.log(g_Scene.mainCamera.inputs);


      window.addEventListener("resize", function () { // Watch for browser/canvas resize events
        g_Scene._engine.resize();
      });

      // this.ctx.ground.material = mat0;

      /*
      this.ctx.groundPlane = MeshBuilder.CreatePlane('g_groundPlane-01', {
        width: fieldWidth,
        height: fieldHeight,
        updatable: true,
      }, this.scene);*/
    },
  },
  mounted() {

    /*
    vb.CreateBox('g_groundPlane-01', {
      width: 10,
      height: 1,
      depth: 10,
    });*/
  },
  computed: {
    headingClasses() {
      return {
        'panel-heading': true,
        'text-center' : true
      }
    },
  },
}
</script>
