
<template>
<div class="panel panel-default" :id="id">
  <div :class="headingClasses">Example component {{ id }}</div>
  <div class="panel-body" style="padding:5px;">
    <slot>
    </slot>
  </div>
</div>
</template>

<script>
import Vue from 'vue';

import { GridItemComponentsMixins } from 'vue-responsive-grid-layout';

export default {
  name: 'grid-block',
  mixins: [GridItemComponentsMixins],
  props: {
    id: {
      required: true
    },
    cols: {
      required: true
    },
    w: {
      required: true
    }
  },
  data: () => {
    return {

    };
  },
  mounted() {
    this.readys();

  },
  computed: {
    headingClasses() {
      return {
        'panel-heading': true,
        'text-center' : true
      }
    },
  },
}
</script>
