
<template>

<div id="gridInstance">
  <div id="wrapper" style="align-items: stretch;width: 100%; height: 100%;">
    <div style="position:relative;width:100%;height:100%;">
      <div style="height: 30px;">
        <div class="pull-right">
          <div @click="switchLayout()" class="btn btn-md"><span class="glyphicon glyphicon-share-alt"></span>{{icons.arrowR}}</div>
          <div @click="gridMode()" class="btn btn-md"><span class="glyphicon glyphicon-th-large"></span>{{icons.ferry}}</div>
          <div @click="listMode()" class="btn btn-md"><span class="glyphicon glyphicon-list"></span>{{icons.menu}}</div>
        </div>
      </div>
      <vue-responsive-grid-layout
          @layout-update="updateLayout"
          @layout-change="changeLayout"
          @layout-switched="onLayoutSwitched"
          @layout-ready="readyLayout"
          @layout-init="initLayout"
          @layout-resized="resizedLayout"
          @width-init="initWidth"
          @width-change="changeWidth"
          @breakpoint-change="changeBreakpoint"
          :layouts="currentLayouts"
          :cols="cols"
          :compact-type="'vertical'"
          :use-css-transforms="true"
          :vertical-compact="true"
          :init-on-start="false"
          :breakpoint="breakpoint"
          :breakpoints="breakpoints"
          :cols-all="colsAll"
          ref="layout"
      >
        <template slot-scope="props">
          <vue-grid-item
                         v-for="item in props.layout"
                         v-if="item.i && props"
                         :key="item.i"
                         :x="item.x"
                         :y="item.y"
                         :w="item.w"
                         :h="item.h"
                         :i="item.i"
                         :cols="props.cols"
                         :container-width="props.containerWidth"
                         :component="components[item.i].component"
                         :component-props="{ id : item.i}"
                         :default-size="components[item.i].defaultSize"
                         :is-draggable="isDraggable"
                         :is-resizable="isResizable"
                         :height-from-children="false"
                         :can-be-resized-with-all="true"
                         >
          </vue-grid-item>
        </template>
      </vue-responsive-grid-layout>
    </div>
  </div>
</div>

</template>

<script>
import icons from 'glyphicons';

import Vue from 'vue';

import {VueResponsiveGridLayout, VueGridItem} from 'vue-responsive-grid-layout';

import GridBlock from './GridBlock.vue';
import EnvironScene from './EnvironScene.vue';

Vue.component('grid-block', GridBlock);
Vue.component('tuum-environ-scene', EnvironScene);

export default {
  name: "grid-layout",
  data: () => {
    return {
      icons,
      layouts: {
        'L1' : {
          "md": [
            { x: 0, y: 0, w: 4, h: 18, i: '1'},
            { x: 2, y: 0, w: 2, h: 9, i: '2'},
            { x: 4, y: 0, w: 2, h: 9, i: '3'},
            { x: 0, y: 3, w: 2, h: 9, i: '4'}
          ]
        },
        'L2': {
          "md": [
            { x: 0, y: 0, w: 2, h: 3, i: "1"},
            { x: 2, y: 0, w: 2, h: 3, i: "2"},
          ]
        }
      },
      currentLayoutsId: 'L1',
      breakpoint: "md",
      components: {
        "1": { i: '1', component: "tuum-environ-scene", defaultSize: 5},
        "2": { i: '2', component: "tuum-agent", defaultSize: 5},
        "3": { i: '3', component: "grid-block", defaultSize: 2},
        "4": { i: '4', component: "grid-block", defaultSize: 2},
      },
      cols: 10,
      breakpoints: { lg: 1200, md: 996, sm: 768, xs: 480, xxs: 0 },
      colsAll: { lg: 10, md: 8, sm: 6, xs: 4, xxs: 2 },
      isDraggable: true,
      isResizable: true,
    };
  },
  components: {
    VueResponsiveGridLayout,
    VueGridItem,
    GridBlock,
  },
  computed: {
      currentLayouts() {
          return this.layouts[this.currentLayoutsId];
      }
  },
  methods: {
  		readyLayout() {
      	console.log('layout ready', icons.heart);
        this.$refs.layout.initLayout();
      },
      initLayout({layout, cols}) {
          this.cols = cols;
      },
      initWidth({width}) {
          this.containerWidth = width;
      },
      switchLayout() {
          switch(this.currentLayoutsId) {
              case 1:
                  this.currentLayoutsId = 2;
                  this.$refs.layout.switchLayout(this.currentLayouts);
                  break;
              case 2:
                  this.currentLayoutsId = 1;
                  this.$refs.layout.switchLayout(this.currentLayouts);
                  break;
          }
      },
      onLayoutSwitched() {
          console.log('layouts switched')
      },
      changeWidth({width, newCols}) {
          this.containerWidth = width;
          this.cols = newCols;
      },
      updateLayout({layout, breakpoint}) {
          let filtered;
          filtered = layout.map( (item) => { return { x: item.x, y: item.y, w: item.w, h: item.h, i: item.i }})
          this.layouts[breakpoint] = filtered;
      },
      changeBreakpoint({breakpoint, cols}) {
          this.cols = cols;
          this.breakpoint = breakpoint;
      },
      changeLayout({layout, breakpoint}) {
          let filtered;
          filtered = layout.map( (item) => { return { x: item.x, y: item.y, w: item.w, h: item.h, i: item.i }})
          this.layouts[breakpoint] = filtered;
      },
      gridMode() {
          this.$refs.layout.resizeAllItems(false, false);
      },
      listMode() {
          this.$refs.layout.resizeAllItems(true, false);
      },
      resizedLayout() {
          console.log('layout resized')
      }
  },
};
</script>

<style>
.vue-responsive-grid-layout {
  background: #eee;
}


.vue-grid-item:not(.vue-grid-placeholder) {
  background: #ccc;
  border: 1px solid black;
}

.vue-grid-item.resizing {
  opacity: 0.9;
}

.vue-grid-item.static {
  background: #cce;
}

.vue-grid-item .text {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 24px;
}

.vue-grid-item .minMax {
  font-size: 12px;
}

.vue-grid-item .add {
  cursor: pointer;
}

.pull-right {
  float: right;
}

#gridInstance .pull-right > .btn {
  float:left;
  margin:5px;
  font-size:16px;
  cursor:pointer;
}
</style>
