
<template>
<div class="panel panel-default" :id="id">
  <div :class="headingClasses">tuum-ui-block {{ id }}</div>
  <div class="panel-body" style="padding:5px;">
    <slot>
      <b-card>
        <b-media>
          <b-img slot="aside" blank blank-color="#ccc" width="64" alt="placeholder" />
          <h5 class="mt-0">Media Title</h5>
          <p>
            Cras sit amet nibh libero, in gravida nulla.
          </p>
        </b-media>
      </b-card>
    </slot>
  </div>
</div>
</template>

<script>
import Vue from 'vue';

import { GridItemComponentsMixins } from 'vue-responsive-grid-layout';

export default {
  name: 'tuum-ui-block',
  mixins: [GridItemComponentsMixins],
  props: {
    id: {
      required: true
    },
    cols: {
      required: true
    },
    w: {
      required: true
    }
  },
  data: () => {
    return {

    };
  },
  mounted() {
    this.readys();

  },
  computed: {
    headingClasses() {
      return {
        'panel-heading': true,
        'text-center' : true
      }
    },
  },
}
</script>
