
<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <h3>Tuum Agent</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <button @click="ctlTranslate([10, 0, 0])">ctl.Translate</button>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <hr/>
        <span class=pull-right><small>{{timeval}}</small></span>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
/**
 *  Event stream: http://localhost:3080/sse
 *  WS service:   ws://localhost:3080
 */

import Vue from 'vue';

import WSS from 'vue-native-websocket';
import SSE from 'vue-sse';

import { WSEventBus } from '../bus/WSEventBus.js';
import { TuumEventBus } from './TuumEventBus.js';

import { store } from '../store';

Vue.use(WSS, 'ws://localhost:3080', {
  format: 'json',
  reconnection: true, // (Boolean) whether to reconnect automatically (false)
  reconnectionAttempts: 5, // (Number) number of reconnection attempts before giving up (Infinity),
  reconnectionDelay: 3000, // (Number) how long to initially wait before attempting a new (1000)
  store
});

Vue.use(SSE);

export default {
  name: 'tuum-agent',
  data () {
    return {
      timeval: null,
    };
  },
  watch: {

  },
  computed: {
    pose () {
      return this.$store.getters.pose;
    },
    wsReady () {
      return this.$store.getters.socket.isConnected;
    },
  },
  components: {

  },
  methods: {
    ctlTranslate(controlCommand) {
      if(!this.wsReady) return;

      this.$socket.sendObj({
        event: 'ctl.Translate',
        data: controlCommand,
      });

    },
    wsSetup() {
      /*
      this.$options.sockets.onmessage = (payload) => {
        EventBus.$emit('ws', JSON.parse(payload.data));
      };*/

      WSEventBus.$on('ws:open', () => {

      });

      WSEventBus.$on('ws:message', (data) => {
        if(data.message)
        {
          console.log(':WSS:', data.message);
          return;
        }
      });
    },
    sseSetup() {

      this.sse.subscribe('server-time', (message) => {
        this.timeval = message;

        this.messages.push(message);
      });

      this.sse.subscribe('org.tuum.Localizer.Pose', (pose) => {
        TuumEventBus.$emit('update:localizer-pose', pose);
      });

    },
    sseFactory() {
      if(this.sse)
      {
        this.sse.close();
        this.sse = null;

        this.sseHandles.forEach(timeout => {
          clearTimeout(timeout);
        });

        this.sseHandles.length = 0;
      }

      this.$sse('http://localhost:3080/sse', { format: 'json' }) // or { format: 'plain' }
        .then(sse => {
          // Store SSE object at a higher scope
          this.sse = sse;

          // Catch any errors (ie. lost connections, etc.)
          sse.onError(e => {
            console.error('lost connection; giving up!', e);

            // This is purely for example; EventSource will automatically
            // attempt to reconnect indefinitely, with no action needed
            // on your part to resubscribe to events once (if) reconnected
            sse.close();
          });

          // Listen for messages without a specified event
          sse.subscribe('', data => {
            console.warn('Received a message w/o an event!', data);
          });

          // Unsubscribes from event-less messages after 7 seconds
          const t0 = setTimeout(() => {
            sse.unsubscribe('');

            console.log('Stopped listening to event-less messages!');

            this.sseHandles.splice(this.sseHandles.indexOf(t0), 1);
          }, 7000);

          this.sseHandles.push(t0);

          this.sseSetup();
        })
        .catch(err => {
          // When this error is caught, it means the initial connection to the
          // events server failed.  No automatic attempts to reconnect will be made.
          console.error('Failed to connect to server', err);
        });
    }
  },
  created() {
    this.sse = null;
    this.sseHandles = [];

    this.messages = [];
  },
  mounted() {
    this.wsSetup();

    this.sseFactory();
  },
  updated() {
    // this.sseFactory();
  },
  destroyed() {
    if(this.sse) this.sse.close();
  },

}
</script>

<style scoped>
hr {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
</style>
