
<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col>
          <span>EmptyLayout.vue</span>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Vue from 'vue';

import BootstrapVue from 'bootstrap-vue';

import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

Vue.use(BootstrapVue);

export default {
  data: () => ({
    drawer: null,
  }),
  props: {
    source: String
  },
  components: {

  }
};
</script>
