
<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col>
          <tuum-ui-grid></tuum-ui-grid>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Vue from 'vue';

import BootstrapVue from 'bootstrap-vue';

import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

import TuumUIGrid from '../tuum/TuumUIGrid.vue';

Vue.use(BootstrapVue);

export default {
  data: () => ({
    drawer: null,
  }),
  props: {
    source: String
  },
  components: {
    'tuum-ui-grid': TuumUIGrid,
  }
};
</script>
