<template>
  <div id="app">
    

    <grid-layout></grid-layout>

    <div class=clearfix></div>

  </div>
</template>

<script>
import Vue from 'vue';

import ListTodo from './components/ListTodo.vue';
import CreateTodo from './components/CreateTodo.vue';
import AreaChart from './components/d3-areachart.vue';
import GridLayout from './components/GridLayout.vue';

import TuumAgent from './components/TuumAgent.vue';

import storeProvider from './store';

Vue.config.productionTip = false;

Vue.component('grid-layout', GridLayout);
Vue.component('tuum-agent', TuumAgent);

export default {
  name: 'app',
  data () {
    return {
      store: storeProvider(),
      dataSet: [99, 71, 78, 25, 36, 92] ,
      msg: 'v-responsive-grid',
    };
  },
  watch: {
    layouts: {
        handler: function(val, oldVal) {
            this.prepareLayoutsFromProps(this.layouts);
        },
        deep: true
    },
  },
  components: {
    ListTodo,
    CreateTodo,
    AreaChart,
    TuumAgent,
  },
  methods: {

  },
  created() {

  },
  mounted() {

  },
  updated() {

  },
  destroyed() {

  },

}
</script>

<style lang="css">
  #app {
    color: #56b983;
  }
</style>
