<template>
  <div>
    <tuum-ui-navi></tuum-ui-navi>

    <component v-bind:is="layout"></component>
  </div>
</template>

<script>
import Vue from 'vue';

/* UI Components */
import TuumUINavi from './tuum/TuumUINavi.vue';

/* UI Layouts */
import EmptyLayout from './layouts/EmptyLayout.vue';
import TuumSceneLayout from './layouts/TuumSceneLayout.vue';

export default {
  name: 'tuum-ui-app',
  data () {
    return {
      dataSet: [99, 71, 78, 25, 36, 92] ,
      msg: 'v-responsive-grid',
    };
  },
  watch: {
    /*
    layouts: {
        handler: function(val, oldVal) {
            this.prepareLayoutsFromProps(this.layouts);
        },
        deep: true
    },*/
  },
  computed: {
    layout () {
      return this.$store.getters.layout;
    },
  },
  components: {
    'empty-layout': EmptyLayout,
    'tuum-ui-navi': TuumUINavi,
    'tuum-scene-layout': TuumSceneLayout,
  },
  methods: {

  },
  created() {

  },
  mounted() {

  },
  updated() {

  },
  destroyed() {

  },

}
</script>

<style lang="css">
  #app {
    color: #56b983;
  }
</style>
